* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(26, 26, 26);
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 35px;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

p {
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
}

div.container div {
    display: inline-block;
    padding: 30px;
    border: 2px solid black;
    margin: 15px;
    text-align: center;
    border-radius: 5px;
}

.light-gray {
    background-color: #CACFD2;
}

.teal {
    background-color: #D1F2EB;
}

.dark-teal {
    background-color: #17a589;
}

.dark-gray {
    background-color: #626567;
    color: #fbfcfc;
}

p + p {
    font-size: 15px;
    margin-top: 8px;
}

h3 {

}

.lora {
    font-family: 'Lora', serif;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}

div.container {
    margin: 0;
    padding: 0;
    border: 0;
    border-left: 8px solid #626567;
    border-radius: none;
}